#define VER 0,3,0,0
#define VER_STR "0.3.0.0"

1 VERSIONINFO
FILEVERSION VER
PRODUCTVERSION VER
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Asutorufa"
            VALUE "FileDescription", "yuhaiin"
            VALUE "FileVersion", VER_STR
            VALUE "InternalName", "yuhaiin"
            VALUE "LegalCopyright", "Copyright (c) 2018 Asutorufa"
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "yuhaiin"
            VALUE "ProductVersion", VER_STR
        }
    }


    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0X0409, 0X04B0
    }
}

IDI_ICON1 ICON DISCARDABLE "yuhaiin.ico"