{{define "body"}}
<div class="card mb-3">
    <div class="card-body">
        <ul class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item">bootstrap dns to resolve proxy,localdns and remotedns domain</li>
            <li class="list-group-item">bootstrap dns only support ip address and not support proxy</li>
        </ul>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <pre id="config" contenteditable="false">{{.Config}}</pre>

        {{if ne .GOOS "android"}}
        <button class="btn btn-outline-primary" type="button"
            onclick='document.getElementById("config").setAttribute("contenteditable", "true");'>Edit</button>
        <button class="btn btn-outline-primary" type="button" onclick='save("config","/config");'>Save</button>
        {{end}}
    </div>
</div>

{{end}}