{{define "body"}}
<script>
    const selectedNode = () => {
        const v = document.querySelector('input[name=select_node]:checked')
        return v != null ? v.value : ""
    }

    function latency(id) {
        const test = document.querySelector(`#i${id} .test`);

        test.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`

        var tcp = false;
        var udp = false;
        var updateTestText = () => { if (tcp && udp) test.innerHTML = "Test"; };

        lat(id, "tcp", () => {
            tcp = true;
            updateTestText();
        });
        lat(id, "udp", () => {
            udp = true;
            updateTestText();
        });
    }

    function lat(id, type, callback) {
        const elem = document.querySelector(`#i${id} .${type}`);
        ajax("GET", `/latency?hash=${id}&type=${type}`, null,
            (xmlhttp) => {
                if (xmlhttp.responseText != "") elem.innerText = `${type}: ${xmlhttp.responseText}`
                else elem.innerText = `${type}: 9999.99ms`
                console.log(`get ${type} data：`, elem.innerText)
                callback()
            },
            () => { elem.innerText = `${type}: 9999.99ms`; callback() });
    }

    const deleteSelectedNode = () => ajax("DELETE", `/node?hash=${selectedNode()}`, null, () => location.reload(), (xmlhttp) => show_danger(`delete ${hash} failed, ${xmlhttp.responseText}`));

    const use = (net) => {
        useByHash(net, selectedNode());
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    const oldOnLoad = window.onload

    window.onload = () => {
        oldOnLoad()
        const nodeModal = document.getElementById('nodeModal')
        nodeModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            var linkName = button.innerText
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = nodeModal.querySelector('.modal-title')
            var modalBodyInput = nodeModal.querySelector('.modal-body')
            var saveButton = nodeModal.querySelector('.modal-footer .btn-outline-primary')

            modalTitle.textContent = linkName

            ajax("GET", "/node?hash=" + recipient, null, (xmlhttp) => {
                modalBodyInput.innerHTML = `<pre id="node" contenteditable="true">${xmlhttp.responseText}</pre>`
                saveButton.classList.remove("disabled")
            }, (xmlhttp) => {
                modalBodyInput.innerHTML = `get node info failed ${xmlhttp.responseText}`
                saveButton.classList.add("disabled")
            })
        })
    }


    const showNodes = (group) => ajax("GET", `/group?name=${group}`, null, (xmlhttp) => {
        document.querySelector("#nodes").innerHTML = xmlhttp.responseText
    })

    const emptyNodes = () => {
        document.querySelector("#nodes").innerHTML = `<div class="card-body"><div class="text-center my-2" style="opacity: 0.4;">グールプはまだ指定されていません。</div></div>`
    }
</script>


<div class="modal fade" id="nodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-outline-primary" role="button" onclick='save("node","/node");'>Save</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col mb-4 d-flex">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    GROUP
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href='javascript: emptyNodes()'>Select...</a>
                    </li>
                    {{range .}}
                    <li><a class=" dropdown-item" href='javascript: showNodes("{{.}}")'>{{.}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">

    <div id="nodes">
        <div class="card-body">
            <div class="text-center my-2" style="opacity: 0.4;">グールプはまだ指定されていません。</div>
        </div>
    </div>

    <div class="card-header">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button id="useButtonGroup" type="button" class="btn btn-outline-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    USE
                </button>
                <ul class="dropdown-menu" aria-labelledby="useButtonGroup">
                    <li><a class="dropdown-item" href='javascript: use("tcpudp");'>TCP&UDP</a></li>
                    <li><a class="dropdown-item" href='javascript: use("tcp");'>TCP</a></li>
                    <li><a class="dropdown-item" href='javascript: use("udp");'>UDP</a></li>
                </ul>
            </div>
            <button class="btn btn-outline-danger" type="button" onclick='deleteSelectedNode();'>DELETE</button>
            <button class="btn btn-outline-primary" type="button" onclick="window.location = '/node?page=new_node'">Add
                New
                Node</a>
        </div>
    </div>

</div>
{{end}}