<!DOCTYPE html>
<html>

<head>
    <title>yuhaiin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        const setNavActive = (id) => document.querySelector(`#${id}`).classList.add("active")
        window.onload = () => {
            const pathNavIDMap = {
                "/conn": "nav-conn",
                "/group": "nav-group",
                "/node": "nav-group",
                "/config": "nav-config",
                "/": "nav-home",
                "/sub": "nav-sub",
                "/tag": "nav-tag",
            }

            console.log(`set ${window.location.pathname},${pathNavIDMap[window.location.pathname]} active`)
            setNavActive(pathNavIDMap[window.location.pathname])
        }

        const show_alert = (text, pattern) => document.querySelector("#snackbar").insertAdjacentHTML("beforeend",
            `<div class="alert alert-${pattern} alert-dismissible fade show" role="alert">
                <div style="overflow: auto;white-space: nowrap">
                    ${text}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
            </div>`);
        const show_success = (text) => show_alert(text, "success")
        const show_danger = (text) => show_alert(text, "danger")

        const copyToClipboard = (link) => navigator.clipboard.writeText(link).then(show_success("Copy Successful"), (err) => show_danger("Copy Failed: " + err));

        const ajax = (method, path, data, timeout, callback = null, callback_err = null) => {
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.open(method, path, true);
            if (timeout != null) xmlhttp.timeout = timeout;
            xmlhttp.send(data);

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState != 4) return;
                if (xmlhttp.status == 200) {
                    if (callback !== null) callback(xmlhttp)
                    return
                }
                console.log("get connections failed: " + xmlhttp.status)
                if (callback_err !== null) callback_err(xmlhttp)
            }
        }

        // save data common func
        const save = (id, path) => ajax("POST",
            path,
            document.getElementById(id).innerText,
            null,
            () => location.reload(),
            (xmlhttp) => {
                show_danger("Save failed, " + xmlhttp.responseText)
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        );

        // change now use node
        const useByHash = (net, hash) => {
            if (hash == null || hash == "") return
            ajax("PUT", `/node?hash=${hash}&net=${net}`, null, null,
                () => show_success(`Change (${net}) to ${hash} successful`),
                (xmlhttp) => show_danger(`Change (${net}) to ${hash} failed, ${xmlhttp.responseText}`))
        }


    </script>
</head>

<body>
    <div class="pt-2 border-bottom" style="overflow-y: hidden;height: 52px;">
        <div style="overflow: auto hidden;">
            <div class="nav nav-pills" style="padding-bottom: 100px;padding-left: 10px;flex-wrap: nowrap;">
                <div class="nav-item"><a class="nav-link" id="nav-home" href="/">HOME</a></div>
                <div class="nav-item"><a class="nav-link" id="nav-group" href="/group">GROUP</a></div>
                <div class="nav-item"><a class="nav-link" id="nav-tag" href="/tag">TAG</a></div>
                <div class="nav-item"><a class="nav-link" id="nav-sub" href="/sub">SUBSCRIBE</a></div>
                <div class="nav-item"><a class="nav-link" id="nav-conn" href="/conn">CONNECTIONS</a></div>
                <div class="nav-item"><a class="nav-link" id="nav-config" href="/config">CONFIG</a></div>
                <div class="nav-item"><a class="nav-link" href="/debug/pprof">PPROF</a></div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div id="snackbar"></div>
        {{template "body" .}}
    </div>
    <!-- <div class="text-center p-2">
        © 2022 Copyright:<a class="text-reset fw-bold" href="https://Asutorufa.github.io/">Asutorufa</a>
    </div> -->
</body>

</html>