{{define "body"}}
<script>
    const formatBytes =
        (a, b = 2) => { if (!+a) return "0B"; const c = 0 > b ? 0 : b, d = Math.floor(Math.log(a) / Math.log(1024)); return `${parseFloat((a / Math.pow(1024, d)).toFixed(c))}${["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"][d]}` }

    const oldOnLoad = window.onload
    window.onload = (e) => {
        oldOnLoad(e)
        connect();


        // mode modal
        const nodeModal = document.getElementById('nodeModal')
        nodeModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            var linkName = button.innerText
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = nodeModal.querySelector('.modal-title')
            var modalBodyInput = nodeModal.querySelector('.modal-body')

            modalTitle.textContent = linkName

            ajax("GET", "/node?hash=" + recipient, null, (xmlhttp) => {
                modalBodyInput.innerHTML = `<pre id="node">${xmlhttp.responseText}</pre>`
            }, (xmlhttp) => {
                modalBodyInput.innerHTML = `get node info failed ${xmlhttp.responseText}`
            })
        })
        // node modal end
    }

    function connect() {
        var ws = new WebSocket("ws://" + window.location.host + "/conn");

        var download = 0
        var upload = 0
        var drate = 0
        var urate = 0

        window.onbeforeunload = function () {
            ws.close();
        }

        var internal_id = null;

        ws.onopen = () => {
            ws.send("");
            internal_id = setInterval(() => { ws.send(""); }, 2000)
        }


        const sttd = document.querySelector('#statistic-download');
        const sttu = document.querySelector("#statistic-upload")
        ws.onmessage = function (event) {
            let all = JSON.parse(event.data);


            let data = all.flow;
            if (download != 0 || upload != 0) {
                drate = (data.download - download) / 2
                urate = (data.upload - upload) / 2
            }
            download = data.download
            upload = data.upload
            sttd.innerText = `(${formatBytes(download)}): ${formatBytes(drate)}/S`
            sttu.innerText = `(${formatBytes(data.upload)}): ${formatBytes(urate)}/S`

            refresh(all.connections);
        }

        ws.onclose = function (event) {
            console.log('close websocket, reconnect will in 1 second')
            sttd.innerText = 'Loading...'
            sttu.innerText = 'Loading...'
            setTimeout(connect, 1000);
            if (internal_id != null) clearInterval(internal_id);
        }
    }

    var connections = new Set();

    const refresh = (conns) => {
        if (conns == null) return;

        var connections_document = document.getElementById('connections');

        const set = new Set();


        conns.sort((a, b) => a.id - b.id).forEach((element) => {
            set.add(element.id);
            if (connections.has(element.id)) return;
            connections.add(element.id);
            connections_document.insertAdjacentHTML('beforeend', generate_conn_item(element));
        });

        connections.forEach((item) => {
            if (!set.has(item)) {
                var i = document.getElementById(`connection_${item}`)
                if (i != null) i.remove();
                connections.delete(item);
            }
        })
    }

    const net_map = {
        0: "unknown",
        1: "tcp",
        2: "tcp4",
        3: "tcp6",
        4: "udp",
        5: "udp4",
        6: "udp6",
        7: "ip",
        8: "ip4",
        9: "ip6",
        10: "unix",
        11: "unixgram",
        12: "unixpacket",
    }

    const generate_conn_item = (element) => {
        return `
    <div class="accordion-item" id="connection_${element.id}">
        <h2 class="accordion-header" id="panelsStayOpen-heading${element.id}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse${element.id}" aria-expanded="true"
                aria-controls="panelsStayOpen-collapse${element.id}">
                <div class="d-inline">
                    <code class="ms-2">${element.id}|</code>
                    <span class="ms-2">${element.addr}</span>
                    <span class="badge rounded-pill bg-light text-dark ms-1 text-uppercase">${element.extra.MODE}</span>
                    <span class="badge rounded-pill bg-light text-dark ms-1 text-uppercase">${net_map[element.type.conn_type]}</span>
                    ${function () { return (element.extra.Tag != null && element.extra.Tag != "") ? `<span class="badge rounded-pill bg-light text-dark ms-1 text-uppercase">${element.extra.Tag}</span>` : ""; }()}
                </div>
            </button>
        </h2>
    
    
        <div id="panelsStayOpen-collapse${element.id}" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-heading${element.id}">
            <div class="accordion-body">
    
    
                <div class="list-group list-group-flush">
    
                    <div class="list-group-item">
                        <div class="d-sm-flex">
                            <div class="endpoint-name flex-grow-1 notranslate">Type</div>
                            <div class="notranslate text-uppercase" style="opacity: 0.6;">${net_map[element.type.conn_type]}</div>
                        </div>
                    </div>
    
                    <div class="list-group-item">
                        <div class="d-sm-flex">
                            <div class="endpoint-name flex-grow-1 notranslate">Underlying</div>
                            <div class="notranslate text-uppercase" style="opacity: 0.6;">${net_map[element.type.underlying_type]}</div>
                        </div>
                    </div>
    
                    ${generate_item_info(element.extra)}
   
                    <div class="list-group-item">
                        <div class="d-sm-flex">
                            <button class="btn btn-outline-danger flex-grow-1 notranslate" type="button"
                                onclick="close_conn('${element.id}')">Close</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>`
    }

    const generate_item_info = (items) => {
        var s = "";
        Object.keys(items).forEach((key) => {
            let value;
            if (key.toLowerCase() == "hash") value = `<a href='#' class="text-truncate" data-bs-toggle="modal" data-bs-target="#nodeModal" data-bs-whatever="${items[key]}">${items[key]}</a>`;
            else value = items[key];

            s += `
        <div class="list-group-item">
            <div class="d-sm-flex">
                <div class="flex-grow-1 notranslate">${key}</div>
                <div class="notranslate text-truncate" style="opacity: 0.6;">${value}</div>
            </div>
        </div>`})
        return s;
    }

    const close_conn = (id) => ajax("DELETE", `/conn?id=${id}`, null, (xmlhttp) => {
        connections.delete(id);
        document.getElementById(`connection_${id}`).remove();
    })
</script>

<div class="modal fade" id="nodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close ms-0 me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title text-truncate" id="exampleModalLabel"></h5>
                <div></div>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="list-group list-group-flush">

        <div class="list-group-item">
            <div class="d-sm-flex">
                <div class="endpoint-name flex-grow-1 notranslate">Download</div>
                <div class="notranslate" style="opacity: 0.6;" id="statistic-download">Loading...</div>
            </div>
        </div>

        <div class="list-group-item">
            <div class="d-sm-flex">
                <div class="endpoint-name flex-grow-1 notranslate">Upload</div>
                <div class="notranslate" style="opacity: 0.6;" id="statistic-upload">Loading...</div>
            </div>
        </div>

        <!-- <div class="list-group-item">
            <div class="d-sm-flex">
                <button class="btn btn-outline-primary flex-grow-1 notranslate" type="button"
                    onclick="refresh()">Refresh</button>
            </div>
        </div> -->
    </div>
</div>

<div class="accordion mb-3" id="connections"></div>
{{end}}