{{define "body"}}
<script>
    function add() {
        const name = document.getElementById("name").value;
        const link = document.getElementById("link").value;
        ajax("POST", `/sub?name=${encodeURIComponent(name)}&link=${encodeURIComponent(link)}`, null, () => { window.location = "/sub" });
    }

    function update() {
        const ub = document.querySelector('#update_button');
        ub.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>UPDATING...`
        ub.classList.add("disabled")

        const finished = () => {
            ub.innerHTML = "UPDATE"
            ub.classList.remove("disabled")
        }

        ajax("PATCH", `/sub?links=${encodeURIComponent(selectSubs())}`, null, (xmlhttp) => {
            finished()
            show_success("Update successful")
        }, (xmlhttp) => {
            finished()
            show_danger("Update failed, " + xmlhttp.responseText)
        })
    }

    function delSubs() {
        var links = selectSubs();
        if (confirm("Are you sure to delete these subs?\n" + links))
            ajax("DELETE", "/sub?links=" + encodeURIComponent(links), null, () => { window.location = "/sub" })
    }

    const selectSubs = () => {
        check_val = [];
        document.querySelectorAll('input[name=links]:checked').forEach((v) => { check_val.push(v.value) })
        return JSON.stringify(check_val);
    }



    const oldOnLoad = window.onload

    window.onload = () => {
        oldOnLoad()
        const linkModal = document.getElementById('linkModal')
        linkModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            var linkName = button.innerText
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = linkModal.querySelector('.modal-title')
            var modalBodyInput = linkModal.querySelector('.modal-body')

            modalTitle.textContent = linkName
            modalBodyInput.innerHTML = `<a href='javascript: copyToClipboard("${recipient}");'>${recipient}</a>`
        })
    }

</script>

<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close ms-0 me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title text-truncate" id="exampleModalLabel"></h5>
                <div></div>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="card mb-3">

    {{range .LS}}
    <label class="list-group-item" style="border: 0ch; border-bottom: 1px solid #dee2e6;">
        <input class="form-check-input me-1" type="checkbox" name="links" value="{{ (index $.Links .).Name }}" />
        <a href='#' data-bs-toggle="modal" data-bs-target="#linkModal" data-bs-whatever="{{ (index $.Links .).Url }}">
            {{ (index $.Links .).Name }}
        </a>
    </label>
    {{end}}

    <div class="card-header">
        <a class="btn btn-outline-primary" role="button" id="update_button" href=' javascript:update()'>UPDATE</a>
        <a class="btn btn-outline-danger" role="button" href='javascript:delSubs()'>DELETE</a>
    </div>

</div>

<div class="card mb-3">
    <div class="card-body">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" id="name" class="form-control" placeholder="Name" aria-label="Name"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Link</span>
            <input type="text" id="link" class="form-control"
                placeholder="http://...|https://...|vmess://...|ssr://...|ss://...|trojan://..." aria-label="Link"
                aria-describedby="basic-addon1">
        </div>

        <button class="btn btn-outline-primary" type="button" onclick="add();">ADD</button>
    </div>
</div>
{{end}}