/vendor
/.vscode
/.idea
**/test/
/yuhaiin*
/dnsrelay
/example/app/app
/internal/http/out
/internal/statics/bypass.conf
/internal/statics/bypass.gz
/cmd/socat/socat
/cmd/benchmark/benchmark
/copy_front.sh
/output
/cmd/nat_test
/tmp
pkg/protos/tools/tmp
cmd/android/yuhaiin.db
/cmd/android/strings.xml
*.patch
/pkg/net/proxy/tailscale/.tsauthkey
.DS_Store
.DS_Store?
