vendor/
linux/
windows/
deploy/
.vscode/
.idea/
.git/
**/test/
/yuhaiin*
/yh*
/bin
cmd/android/*.jar
cmd/android/*.aar
cmd/android/main/jniLibs
/dnsrelay
tcpforward
/yuubinsya*
cmd/quic_test/
cmd/yuubinsya/config.json
/dnsrelay_*
