1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Asutorufa"
            VALUE "FileDescription", "A Proxy Client By Golang For Linux/Windows"
            VALUE "FileVersion", "0.2.11.5.Beta"
            VALUE "InternalName", "yuhaiin"
            VALUE "LegalCopyright", "Copyright (c) 2018 Asutorufa."
            VALUE "OriginalFilename", "yuhaiin.exe"
            VALUE "ProductName", "yuhaiin"
            VALUE "ProductVersion", "0.2.11.5.Beta"
        }
    }


    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0X0409, 0X04B0
    }
}

IDI_ICON1 ICON DISCARDABLE "yuhaiin.ico"