1 VERSIONINFO
FILEVERSION 0,2,12,0
PRODUCTVERSION 0,2,12,0
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Asutorufa"
            VALUE "FileDescription", "Yuhaiin"
            VALUE "FileVersion", "0.2.12-Beta"
            VALUE "InternalName", "yuhaiin"
            VALUE "LegalCopyright", "Copyright (c) 2018 Asutorufa"
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "Yuhaiin"
            VALUE "ProductVersion", "0.2.12-Beta"
        }
    }


    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0X0409, 0X04B0
    }
}

IDI_ICON1 ICON DISCARDABLE "yuhaiin.ico"