name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, amd64v3]
        os: [[linux, ""], [linux_lite, ""], [darwin, ""], [windows, ".exe"]]
        cmd: [yuhaiin]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '>=1.20.0'

    # - name: Set up Upx
    #   run: |
    #     sudo apt update
    #     sudo apt install -y upx

    - name: Build
      run: |
        make ${{ matrix.cmd }}_${{ matrix.os[0] }}
        if [ ${{ matrix.os[0] }} != "darwin" ]; then
          upx --lzma --best ${{ matrix.cmd }}_${{ matrix.os[0] }}_${{ matrix.arch }}${{ matrix.os[1] }}
        fi

    - name: upload_${{ matrix.cmd }}_${{ matrix.os[0] }}_${{ matrix.arch }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.cmd }}_${{ matrix.os[0] }}_${{ matrix.arch }}
        path: |
          ${{ matrix.cmd }}_${{ matrix.os[0] }}_${{ matrix.arch }}${{ matrix.os[1] }}
