name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '>=1.20.0'

    # - name: Set up Upx
    #   run: |
    #     sudo apt update
    #     sudo apt install -y upx

    - name: Build
      run: |
        make all
        upx --lzma --best yuhaiin
        upx --lzma --best yuhaiin_v3
        upx --lzma --best yuhaiin.exe
        upx --lzma --best yuhaiin_v3.exe
        upx --lzma --best dnsrelay
        upx --lzma --best dnsrelay.exe

    - name: Test
      run: make vet

    - name: upload_linux_amd64
      uses: actions/upload-artifact@v3
      with:
        name: output_linux_amd64
        path: |
          yuhaiin

    - name: upload_linux_amd64v3
      uses: actions/upload-artifact@v3
      with:
        name: output_linux_amd64v3
        path: |
          yuhaiin_v3

    - name: upload_windows_amd64
      uses: actions/upload-artifact@v3
      with:
        name: output_windows_amd64
        path: |
          yuhaiin.exe

    - name: upload_windows_amd64v3
      uses: actions/upload-artifact@v3
      with:
        name: output_windows_amd64v3
        path: |
          yuhaiin_v3.exe

    - name: upload_darwin_amd64
      uses: actions/upload-artifact@v3
      with:
        name: output_darwin_amd64
        path: |
          yuhaiin_darwin

    - name: upload_darwin_amd64v3
      uses: actions/upload-artifact@v3
      with:
        name: output_darwin_amd64v3
        path: |
          yuhaiin_darwin_v3

    - name: upload_dnsrelay
      uses: actions/upload-artifact@v3
      with:
        name: output_dnsrelay
        path: |
          dnsrelay
          dnsrelay.exe